.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: #fff;
  width: 50%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  // background: ;
  color: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #ffcc00;
}

.modal-body {
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

// Accordion Styling
.accordion-section {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  background: #f8f9fa;
  padding: 12px 20px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion-header:hover {
  background: #e2e6ea;
}

.accordion-content {
  padding: 15px 20px;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
}
